@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;">
</div>
<div>
    <input id="name" type="text" />
</div>
<div>
    <input id="field" type="text" />
    <input id="send" type="button" value="Send" />
</div>
<script>
    $(function () {
        var myConnection = $.connection("/chat");
        myConnection.received(function (data) {
            $("#content").append("<div>" + data.Name + ': ' + data.Message + "</div>");
        });

        //myConnection.error(function (error) {
        //    console.warn(error);
        //});
        myConnection.start()
        .promise()
        .done(function () {
            $("#send").click(function () {
                var myName = $("#name").val();
                var myMessage = $("#field").val();
                myConnection.send(JSON.stringify({ name: myName, message: myMessage }));
            });
        });
        
    });
</script>
