@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;">
</div>
<div>
    <input id="name" type="text" />
</div>
<div>
    <input id="field" type="text" />
    <input id="send" type="button" value="Send" />
</div>
@section Scripts { <script src="~/Scripts/ChatR.js"></script> }
