 zZZZ@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/chat.bundle.less")

<div data-bind="visible: showName">
    <div>Please enter your name and then log in:</div>
    <div><input data-bind="value: name" type="text" /><input data-bind="click: onLogInClick" type="button" value="Log In"/></div>
</div>
<div id="chatGrid" data-bind="kendoGrid: { change: usersGridOptions.change, columns: usersGridOptions.columns, data: usersData, widget: usersGrid }, visible: showChat"></div>
<div id="chatPanel" data-bind="visible: showChat">
    <div data-bind="visible: showTabs" id="chatTab" >
    </div>
</div>

<script src="~/Scripts/chatViewModel.js"></script>
<script>
    var viewModel = chatViewModel();
    $('#chatTab').kendoTabStrip({
        animation: {
            // fade-out current tab over 1000 milliseconds
            close: {
                duration: 1000,
                effects: "fadeOut"
            },
            // fade-in new tab over 500 milliseconds
            open: {
                duration: 500,
                effects: "fadeIn"
            }
        }
    });
    viewModel.tabStrip = $('#chatTab');
    ko.applyBindings(viewModel);
</script>
