 @using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/chat.bundle.less")
<div class="container">
    <div class="row" ng-controller="ChatController">
        <div class="col-md-2">
            <div data-bind="visible: showName">
                <div>Please enter your name and then log in:</div>
                <div>
                    <input data-bind="value: name" type="text" /><input class="btn btn-default" data-bind="    click: onLogInClick" type="button" value="Log In" />
                </div>
            </div>
            <ul class="list-group" data-bind="visible: !showName()">
                <li class="list-group-item" data-ng-repeat="user in users" data-ng-class="{active: user.selected}" data-ng-click="selectUser(user)">{{user.name}} </li>
            </ul>
        </div>
        <div class="col-md-10" data-bind="visible: !showName()">
            <div id="chatPanel">
                <ul class="nav nav-pills" id="chatTab">
                    <li data-ng-repeat="user in selectedUsers" data-ng-class="{active: user.selected}"><a href="#{{user.id}}">{{user.name}}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in" data-ng-repeat="user in selectedUsers" id="{{user.id}}" data-ng-class="{active: user.selected}"> 
                        <div>{{user.name}}</div>                       
                        <div class="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;"></div>
                        <input class="message" type="text" />
                        <input class="sendButton" type="button" value="Send" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script src="~/Scripts/chatViewModel.js"></script>
<script>
    var viewModel = chatViewModel();
    ko.applyBindings(viewModel);
</script>
}
